<div class="wrapper">
  <!-- Main Header -->
  <header class="main-header">

      <!-- Logo -->
      <a href="~/Home/Index" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">EMS</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><strong>EMS</strong></span>
      </a>
    
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
            
      </nav>
    </header>

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          

          <!-- search form (Optional) -->
          
          <!-- /.search form -->
          <!-- Sidebar Menu -->
  <ul class="sidebar-menu" data-widget="tree">
    <!-- Optionally, you can add icons to the links -->
    
    <li class="active"><a [routerLink]="['/lichthi']"><i class="fa fa-calendar"></i><span>Lịch thi</span></a></li>
    <li class="treeview menu-open">
      <a href="#">
        <i class="fa fa-file-text"></i> <span>Đề thi</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu" style="display: block;">
          <li><a [routerLink]="['/dethi']"><i class="fa fa-circle-o"></i>Gửi mail</a></li>
          <li><a [routerLink]="['/duyetdethi']"><i class="fa fa-circle-o"></i>In biên bản</a></li>
      </ul>
    </li>
    <li class="active"><a [routerLink]="['/giangvien']"><i class="fa fa-user"></i><span>Giảng viên</span></a></li>
    <li class="active"><a [routerLink]="['/hocphan']"><i class="fa fa-book"></i> <span>Học phần</span></a></li>
    <li class="active"><a [routerLink]="['/lophocphan']"><i class="fa fa-graduation-cap"></i><span>Lớp học phần</span></a></li>
    <li class="active"><a [routerLink]="['/lopsinhvien']"><i class="fa fa-users"></i> <span>Lớp sinh viên</span></a></li>
    <li class="active"><a [routerLink]="['/donvi']"><i class="fa fa-university"></i> <span>Đơn vị</span></a></li>

  </ul>
          <!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

      <!-- Main content -->
      <section class="content container-fluid">

          <!--------------------------
          | Your Page Content Here |
          -------------------------->
          <router-outlet></router-outlet>
      </section>
      <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <footer class="main-footer">
      <!-- <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
      </div>
      <strong>Copyright © 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
      reserved. -->
    </footer>
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>