<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<!-- /.box -->
<div class="box">
  <div class="box-header with-border">
      <h3 class="box-title">Lớp học phần</h3>
      <button type="button" class="btn btn-success pull-right" (click)="showModal(lophocphanForm)"><i class="fa fa-plus"></i> <span></span></button>      
  </div>
  <div class="box-body">
        <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
                <tr>
                    <th><p>STT</p></th>
                    <th><p>Mã lớp HP</p></th>
                    <th><p>Mã HP</p></th>
                    <th><p>Tên HP</p></th>
                    <th><p>Số TC</p></th>
                    <th><p>Bậc đào tạo</p></th>
                    <th><p>Hệ đào tạo</p></th>
                    <th><p>Lớp SV</p></th>
                    <th><p>Ngành học</p></th>
                    <th><p>Khóa</p></th>
                    <th><p>Thời khóa biểu</p></th>
                    <th><p>Ngày thi</p></th>
                    <th><p>Giờ thi</p></th>
                    <th><p>Thứ</p></th>
                    <th><p>CS Thi</p></th>
                    <th><p>Hình thức thi</p></th>
                    <th class="">        
                    </th>                    
                </tr>
          </thead>
          
          <tbody>
            <tr *ngFor="let l of lophocphans; let i=index">
                <td>{{ i+1 }}</td>
                <td>{{ l.maLopHP }}</td>
                <td>{{ l.maHP }}</td>
                <td>{{ l.tenHP }}</td>
                <td>{{ l.soTinChi }}</td>
                <td>{{ l.bacDaoTao }}</td>
                <td>{{ l.heDaoTao }}</td>
                <td>{{ l.lopSV }}</td>
                <td>{{ l.nganhHoc }}</td>
                <td>{{ l.khoa }}</td>
                <td>{{ l.thoiKB }}</td>
                <td>{{ l.ngayGioBDThi | date : 'dd-MM-yyyy' }}</td>
                <td>{{ l.ngayGioBDThi | date : 'HH:mm' }}</td>
                <td>{{ l.thu }}</td>
                <td>{{ l.csThi }}</td>
                <td>{{ l.hinhThucThi }}</td>
                
                <td>                    
                    <a href="#" (click)="showModal(lophocphanForm, $event, l.id)"><i class="fa fa-edit text-primary"></i></a>
                    <a href="#" (click)="showDeleteModal($event, l.id)"><i class="fa fa-remove text-danger"></i></a>
                </td>
            </tr>             
          </tbody>                   
      </table>      
    </div>
</div>

<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>                
                <h4 class="modal-title"></h4>                
            </div>
            <div class="modal-body">
                <form #lophocphanForm="ngForm">
                    <div class="box-body">
                        <input id="id" hidden name="id" [(ngModel)]="lophocphan.id"/>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                              
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="txtMaLopHP" class="col-sm-2 col-md-3 col control-p">Mã Lớp HP</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <input required type="text" class="form-control" id="txtMaLopHP" placeholder="" [(ngModel)]="lophocphan.maLopHP" name="maLopHP">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="drdownMaHP" class="col-sm-2 col-md-3 col control-p">Mã HP</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <select required class="form-control" id="drdownMaHP" [(ngModel)]="lophocphan.hocPhanId" name="hocPhanId">
                                                <option *ngFor="let option of hocphans" [ngValue]="option.id">{{option.maHP}}</option>
                                            </select>                                            
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="drdownMaLopSV" class="col-sm-2 col-md-3 col control-p">Mã Lớp SV</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <select required class="form-control" id="drdownMaLopSV" [(ngModel)]="lophocphan.lopSVId" name="lopSVId">
                                                <option *ngFor="let option of lopsinhviens" [ngValue]="option.id">{{option.maLop}}</option>
                                            </select>                                           
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="drdownMaHP" class="col-sm-2 col-md-3 col control-p">Bậc đào tạo</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <select required class="form-control" id="drdownMaHP" [(ngModel)]="lophocphan.bacDaoTao" name="bacDaoTao">
                                                <option value="Đại học">Đại học</option>
                                                <option value="Sau đại học">Sau đại học</option>
                                            </select>                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="drdownMaHP" class="col-sm-2 col-md-3 col control-p">Hệ đào tạo</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <select required class="form-control" id="drdownMaHP" [(ngModel)]="lophocphan.heDaoTao" name="heDaoTao">
                                                <option value="Chính quy">Chính quy</option>
                                                <option value="Vừa học vừa làm">Vừa học vừa làm</option>
                                                <option value="Văn bằng 2">Văn bằng 2</option>
                                            </select>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">    
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="txtTKB" class="col-sm-2 col-md-3 col control-p">Thời khóa biểu</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <input required type="text" class="form-control" id="txtTKB" placeholder="" [(ngModel)]="lophocphan.thoiKB" name="thoiKB">
                                        </div>
                                    </div>
                                </div>  

                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="dtpNgayThi" class="col-sm-2 col-md-3 control-p">Ngày thi</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input required type="date" class="form-control pull-left" id="dtpNgayThi" style="width:242px" [(ngModel)]="date" name="date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="txtGioThi" class="col-sm-2 col-md-3 control-p">Giờ thi</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input required type="time" class="form-control pull-left" id="txtGioThi" style="width:242px" [(ngModel)]="time" name="time" placeholder="HH:mm:ss" required >
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="drdownCSThi" class="col-sm-2 col-md-3 control-p">Cơ sở thi</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <select required class="form-control" id="drdownCSThi" [(ngModel)]="lophocphan.csThi" name="csThi">
                                                <option value="A">A</option>
                                                <option value="B">B</option>
                                                <option value="C">C</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="txtHinhThucThi" class="col-sm-2 col-md-3 control-p">Hình thức thi</label>
                
                                        <div class="col-sm-10 col-md-9">
                                            <textarea rows="4" class="form-control" id="txtHinhThucThi" placeholder="" [(ngModel)]="lophocphan.hinhThucThi" name="hinhThucThi"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">                
                <button type="submit" class="btn btn-success" id="btnSave" (click)="save()" [disabled]="!lophocphanForm.form.valid">{{ (lophocphan.id === undefined || lophocphan.id === 0) ? 'Add':'Save'}}</button>                   
            </div>
        </div>
    </div>
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title pull-left">Confirm</h4>          
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light btn-cancel" (click)="deleteModal.hide()">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
        </div>
      </div>
  </div>
</div>
